html, body {
  margin: 0;
  font-family: Helvetica;
  background-color: #fdfdff;
  
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexbox{
  display: flex;
}
.flexbox > div {
  
  float: left;
  padding: 1rem;
  line-height: 2.1rem;
  font-size: 1.5rem;
}

h1, h3 {
  text-align: center;
  margin: 0;
}



ul {
  padding: 0;
}

#title {
  text-align: center;
  height: 8vh;
}

#searchbar{
  
  width: 60%;
  margin:auto;
  border-radius: 3rem;
  background-color: #393d3f;
}

#searchinput {
  color: #e6e6ec;
  width: 88%;
  height: 5vh;
  background-color: transparent;
  border-radius: 3rem;
  border: none;
  outline: none;
  padding-left: 2%;
  font-size: 1rem;
}

#searchbutton {
  width: 10%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #e6e6ec;
  text-align: right;
  
}



.recipe {
  color: #e6e6ec;
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-wrap: nowrap;
  background-color: #393d3f;
  border-top: solid;
  border-bottom: solid;
  margin-bottom: 0;
  border-radius: 5rem;
}

.big, .small {
  max-height: 20vh;
  transition: max-height 0.5s ease-in-out;
}

.big {
  max-height: 100vh;
}

.show, .hide {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.show {
  max-height: 50vh;
}

.slideright, .slideleft {
  max-width: 0;
  transition: max-width 0.5s ease-in-out;
}

.slideright {
  max-width: 35vw;
}



.recipeinfo {
  width: 25%;
  float: left;
  text-align: left;
  
  overflow: hidden;
  border-color: #7bdff2;
}
.recipeinfo:hover{
  cursor: pointer;
}
.recipeinfo > p {
  margin: 3%;
}
.recipeinfo > h2 {
  margin-left: 3%;
}
#recipetitle {
  margin: 1rem;
  text-align: left;
  padding-left: 1rem;
}



.last {
  border-right: none;
}

#voidinput {
  position: absolute;
  right: 6rem;
  top: 4.5rem;
  color: red;
  margin-left: 3vw;
}

#nutrition {
  overflow: hidden;
}

#nutritioncontainer {
  margin: auto;
  margin-top: 1rem;
  width: 30%;
  text-align: center;
  background-color: #393d3f;
  border-radius: 3rem;
  color: #e6e6ec;
}
#nutritioncontainer:hover {
  cursor: pointer;
}

#nutritionbutton {
  
  width: 50%;
}

#sidetab {
  
  float: left;
  height: 100vh;
  overflow-x: hidden;
  background-color: #e6e6ec;
  border-right: solid;
  border-color: #62929e;
  
}

#showsidetab {
  border: solid;
  border-color: #62929e;
  border-left: none;
  background-color: #393d3f;
  font-size: 2.5rem;
  float: left;
  margin-top: 1rem;
  width: 6vh;
  height: 6vh;
  text-align: center;
  line-height: 2.3rem;
  user-select: none;
  color: #e6e6ec;
}
#showsidetab:hover {
  cursor: pointer;
}

#sides {
  position: fixed;
  z-index: 10;
}

#addtolistbut {
  border: solid;
  border-color: #62929e;
  border-radius: 50%;
  margin-left: 1rem;
  text-shadow: -1px -1px 0 #62929e, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  color: transparent;
}

#addtolistbut:hover {
  background-color: #c6c5b9;
}

#wishlist {
  height: 50vh;
  overflow-y: hidden ;
  padding-left: 1rem;
  padding-right: 1rem;
}

#filters {
  height: 40vh;
  overflow: none;
  padding-left: 1rem;
  padding-right: 1rem;
}